{
  "extends": [
    "eslint:recommended",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:react/recommended",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "@typescript-eslint", "prettier"],
  "parserOptions": {
    "project": ["tsconfig.json"]
  },
  "ignorePatterns": ["paths.js", "webpack.*.js", "dist/*"],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
